<template>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-5">

                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"> Tambah Absensi Mahasiswa </h5>
                    </div>
                    <div class="card-body">

                        <form>
                            <!-- Nama -->
                            <div class="form-group">
                                <label class="form-control-label" for="nama"> Nama Mahasiswa </label>
                                <select id="nama" class="form-control" v-model="absensi.mahasiswa_id">
                                    <option v-for="m in mhs" :value="m.id">
                                        {{m.nama}}
                                    </option>
                                </select>
                            </div>

                            <!-- Mata Kuliah -->
                            <div class="form-group">
                                <label for="matkul"> Mata Kuliah </label>
                                <input type="text" class="form-control" id="matkul" v-model="absensi.matkul">
                            </div>

                            <!-- Kehadiran -->
                            <div class="form-group mt-2">
                                <label class="form-control-label" for="hadir"> Kehadiran </label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="hadir" name="kehadiran" value="1"
                                        v-model="absensi.kehadiran">
                                    <label class="form-check-label" for="hadir">
                                        Hadir
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="tidak_hadir" name="kehadiran"
                                        value="0" v-model="absensi.kehadiran">
                                    <label class="form-check-label" for="tidak_hadir">
                                        Tidak Hadir
                                    </label>
                                </div>
                            </div>

                            <button class="btn btn-sm btn-success float-right" @click.prevent="absen">Simpan</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                mhs: [],
                absensi: {}
            }
        },
        methods: {
            absen() {
                this.axios.post('/api/absensi', this.absensi)
                    .then((response) => {
                        console.log(response);
                        swal.fire({
                            title: 'Berhasil',
                            text: "Absensi telah ditambahkan",
                            icon: 'success',
                        });
                        this.$router.push({
                            name: 'home'
                        });
                        return true;
                    })
                    .catch(function (error) {
                        console.log(error);
                        swal.fire({
                            title: 'Gagal',
                            text: "Sudah melakukan absensi",
                            icon: 'error',
                        });
                    });

            }
        },
        mounted() {
            this.axios.get('/api/mahasiswa')
                .then(response => {
                    this.mhs = response.data;
                });
        }
    }
</script>

<style>

</style>