<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header border-0 d-flex align-items-center justify-content-between">
                        <h5 class="mb-0"> Data Absensi Mahasiswa </h5>
                        <router-link to="absensi/tambah" class="btn btn-sm btn-success">Tambah</router-link>
                    </div>

                    <div class="table-responsive">
                        <table class="table align-items-center text-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th>No</th>
                                    <th>Nama</th>
                                    <th>NIM</th>
                                    <th>Mata Kuliah</th>
                                    <th>Keterangan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>

                            <tbody class="list">
                                <tr v-for="(abs, index) in absensi">
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="number mb-0 text-sm"> {{index+1}} </span>
                                            </div>
                                        </div>
                                    </th>
                                    <td> {{abs.nama}} </td>
                                    <td> {{abs.nim}} </td>
                                    <td> {{abs.matkul}} </td>
                                    <td> {{abs.kehadiran ? 'Hadir' : 'Tidak Hadir'}} </td>
                                    <td>
                                        <router-link :to="{name: 'edit', params: {abs}}" class="btn btn-sm btn-warning">
                                            Edit</router-link>
                                        <button class="btn btn-sm btn-danger"
                                            @click.prevent="hapus(abs.id)">Hapus</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                absensi: [],
            }
        },
        methods: {
            hapus(id) {
                this.axios.delete('api/absensi/' + id)
                    .then(response => {
                        swal.fire({
                            title: 'Berhasil',
                            text: "Absensi telah dihapus",
                            icon: 'success',
                        });
                        this.getAbsensi()
                    })
            },
            getAbsensi() {
                this.axios.get('api/absensi')
                    .then(response => {
                        this.absensi = response.data;
                    });
            }
        },
        created() {
            this.getAbsensi()
        }
    }
</script>